.mydiv {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  box-shadow: 0 0 2px 1px black;
  text-align: center;
}

.mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196f3;
  color: #fff;
}
