header {
  position: relative;

  height: var(--header-height);
  width: 100%;

  box-shadow: inset 0px 0px 0px 1px blue;
  display: flex;
}

.logo {
  height: 100%;
  width: var(--header-height);
  background-color: rgba(10, 10, 10, 0.75);
  box-shadow: inset 0px 0px 0px 1px green;
}
